@font-face {
    font-family: "Balsamq Sans";
    src: url(../Fonts/BalsamiqSans.ttf);
}

/*#region General*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Balsamq Sans', 'Comic Sans MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


nav{
    background-color: rgb(168,196,252);

    border-style: solid;
    border-color: black;

    padding-top: 1.5em;
    padding-bottom: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: rgb(0, 85, 155);
}

nav a.title{
    color: black;
    text-decoration: none;
    padding-left: 1vw;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav li{
    padding-top: 0.3em;
    padding-right: 1.5vw;
}

section{
    flex-grow: 1;
}

footer{
    background-color: rgb(168,196,252);

    border-style: solid;
    border-color: black;

    padding-top: 1em;
    padding-bottom: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;

}

footer div{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    flex-shrink: 0;
    max-height: 5em;
}

.header h1{
    text-align: center;
    font-size: 3em;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em;

    width: 30%;
    max-width: 720px;
}

#usercart{
    display: flex;
    position: absolute;
    top: 6em;
    right: 3em;
    align-items: center;
}

/*#endregion*/

/*#region Index*/

ul.homenav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    list-style-type: none;
    
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.homenav li{
    position: relative;
    text-align: center;
}

.homenav p{
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration-line: none;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

/*#endregion*/

/*#region Menu*/

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.1em;
}
.menu > div{
    height: 25em;
    width: 25em;
    flex-shrink: 0;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.menu img{
    display: block;
    height: 70%;
    width: 100%;
    object-fit: contain;
}


div.price{
    margin: 0;
    height: 2.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price div{
    display: flex;
    height: inherit;
    width: auto;
    align-items: center;
}

.price h2{
    display: inline;
}

/*#endregion*/

/*#region Feedback*/

.feedback{
    display: flex;
    align-content: center;
    height: 25em;
    margin-top: 1em;
}

.feedback > div{
    text-align: end;
    margin-right: 1em;
    flex-grow: 2;
}

.feedback p{
    margin-bottom: 1em;
    font-size: 1em;
}

.feedback form{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.feedback input, .feedback textarea{
    font-family: 'Balsamq Sans', 'Comic Sans MS', sans-serif;
    font-size: 1em;

    border-width: 0.25em;
    border-color: black;
    background-color: white;;
    resize: none;
}

.feedback textarea{
    height: 6em;
}

.feedback label{
    font-size: 1em;
}

.feedback a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 2em;
}

.feedback > aside{
    flex-grow: 1;
    text-align: center;
}

form > div{
    display: flex;
    justify-content: space-between;

    max-width: 40%;
    margin-bottom: 1em;
}

.textarea{
    margin-bottom: 0.5em;
}

.text{
    width: 100%;
}
.submit{
    margin-top: 1em;
    align-self: center;
    margin-right: max(25%, 6em);
}
#submit-button{
    box-shadow: 0.25em 0.25em black;
    padding: 0.2em 0.4em;
}

/*#endregion*/

img.cart{
    display: inline;
    height: 2em;
    width: 2em;
}

#usercart img.cart{
    display: block;
    height: 2.5em;
    width: 2.5em;
    margin: 0;
}


select , option{
    font-family: 'Balsamq Sans', 'Comic Sans MS', sans-serif;
    font-size: 1em;
}

select{
    border-width: 0.25em;
    border-color: black;

}

button{
    border: none;
    background-color: white;
}